#jinja2: lstrip_blocks: "True"
[Unit]
Description=Key Cloak
After=docker.service
Requires=docker.service

[Service]
Type=simple
Environment=KC_DB_USERNAME={{ keycloak_postgres_connection_username }}
Environment=KC_DB_PASSWORD={{ keycloak_postgres_connection_password }}
Environment=KC_DB_URL=jdbc:postgresql://keycloak-postgres:5432/{{ keycloak_postgres_db_name }}
Environment=KC_DB=postgres

ExecStartPre=-/usr/bin/docker kill keycloak
ExecStartPre=-/usr/bin/docker rm keycloak

ExecStart=/usr/bin/docker run --rm --name keycloak \
			--log-driver=none \
			-e KEYCLOAK_ADMIN={{ keycloak_admin }} -e KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }} \
			-p 8442:8080 \
			-v /etc/letsencrypt/live/keycloak/cert.pem:/etc/x509/https/tls.crt:ro \
			-v /etc/letsencrypt/live/keycloak/key.pem:/etc/x509/https/tls.key:ro \
			{% if keycloak_postgres_enabled %}
			--net {{ keycloak_docker_network }} \
			{% endif %}
			{% for arg in keycloak_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			keycloak-optimized start \
			--proxy-headers=forwarded \
			--optimized

ExecStop=-/usr/bin/docker kill keycloak
ExecStop=-/usr/bin/docker rm keycloak
Restart=always
RestartSec=30
SyslogIdentifier=keycloak

[Install]
WantedBy=multi-user.target
